.cards-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
}

.no-data{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1024px){
    .cards-container{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 700px){
    .cards-container{
        grid-template-columns: 1fr;
    }
}